/******* Google Fonts *******/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');

/******** Global Styles ********/
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}
body {
  background-color: #dddada;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  font-size: 16px;
}

.palette-wrapper {
  width: 90%;
  max-width: 600px;
  margin: 30px auto;
}

h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50px;
}

.color-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circle {
  width: 130px;
  height: 130px;
  border: 3px solid #fff;
  border-radius: 50%;
  margin-left: -20px;
}

.one {
  background-color: #4fa4f4;
}

.two {
  background-color: #c8e3f6;
}

.three {
  background-color: #f0f5fb;
}

.four {
  background-color: #fafafa;
}

p {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin-left: -20px;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.btn {
  padding: 12px 20px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #4fa4f4;
}

/* ******** Mobile Styles ******* */
@media screen and (max-width: 320px) {
  h1 {
    font-size: 30px;
  }

  .circle {
    width: 80px;
    height: 80px;
  }

  p {
    font-size: 12px;
  }
}
