/******* Google Fonts *******/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');

/******** Global Styles ********/
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  font-size: 16px;
}

.palette-wrapper {
  width: 90%;
  max-width: 600px;
  margin: 30px auto;
}

/* .palette {
  display: none;
} */

.bg-color {
  background-color: #ddd;
  padding: 10px 20px;
  border: 2px dashed #000;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50px;
}

.color-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.color {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circle {
  width: 130px;
  height: 130px;
  border: 3px solid #fff;
  border-radius: 50%;
  margin-left: -20px;
}

p {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin-left: -20px;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.btn {
  padding: 12px 20px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #4fa4f4;
}

/* *********** Palette One Styles ************* */
.palette-one .one {
  background-color: #4fa4f4;
}

.palette-one .two {
  background-color: #c8e3f6;
}

.palette-one .three {
  background-color: #f0f5fb;
}

.palette-one .four {
  background-color: #fafafa;
}

/* *********** Palette Two Styles ************* */
.palette-two .one {
  background-color: #b51d46;
}

.palette-two .two {
  background-color: #ffc16e;
}

.palette-two .three {
  background-color: #fcf5e5;
}

.palette-two .four {
  background-color: #9ec7cb;
}
/* *********** Palette Three Styles ************* */
.palette-three .one {
  background-color: #194e48;
}
.palette-three .two {
  background-color: #98ba7d;
}
.palette-three .three {
  background-color: #d6efc7;
}
.palette-three .four {
  background-color: #fbd686;
}
/* *********** Palette Four Styles ************* */
.palette-four .one {
  background-color: #df5297;
}
.palette-four .two {
  background-color: #e985b7;
}
.palette-four .three {
  background-color: #f2bad5;
}
.palette-four .four {
  background-color: #fbeef5;
}
/* *********** Palette Five Styles ************* */
.palette-five .one {
  background-color: #547793;
}
.palette-five .two {
  background-color: #f7f2ef;
}
.palette-five .three {
  background-color: #e0e0e0;
}
.palette-five .four {
  background-color: #c1c9cc;
}
/* *********** Palette Six Styles ************* */
.palette-six .one {
  background-color: #425c81;
}
.palette-six .two {
  background-color: #aee5d0;
}
.palette-six .three {
  background-color: #e4e4e4;
}
.palette-six .four {
  background-color: #f2f2f2;
}
/* *********** Palette Seven Styles ************* */
.palette-seven .one {
  background-color: #2f234b;
}
.palette-seven .two {
  background-color: #f74a8a;
}
.palette-seven .three {
  background-color: #fff7fa;
}
.palette-seven .four {
  background-color: #e0cbdc;
}
/* *********** Palette Eight Styles ************* */
.palette-eight .one {
  background-color: #7d80c7;
}
.palette-eight .two {
  background-color: #bed1fc;
}
.palette-eight .three {
  background-color: #f1f8ff;
}
.palette-eight .four {
  background-color: #fafafa;
}

/* ******** Mobile Styles ******* */
@media screen and (max-width: 320px) {
  h1 {
    font-size: 30px;
  }

  .circle {
    width: 80px;
    height: 80px;
  }

  p {
    font-size: 12px;
  }
}
